<p>Generic ALY2100 class lab exercise notebook</p>

## 2020-03-02

In [ ]:
options = ('t', 'm', 's', 'p')

<ul>
<li>Modify the adventure game to let the user populate an empty shell with any of the options ('t', 'm', 's', 'p')</li>
<li>Check for outbounds and if so, return the user to the first empty cell,     if no empty cell end the game</li>
</ul>

In [ ]:
# Adventure game demo dynamic
import random
# Define some constants for items that will be found in the grid
EMPTY = 'e'
TREASURE = 't'
MONSTER = 'm'
SWORD = 's'
POTION = 'p'
addInToGrid = (TREASURE, TREASURE, TREASURE, MONSTER, MONSTER, MONSTER,\
               SWORD, SWORD, POTION, POTION)
NROWS_IN_GRID = 6
NCOLS_IN_GRID = 8
# Find a random cell that is empty
def findEmptyCell(aGrid, nRows, nCols):
    while True:
        aRow = random.randrange(nRows)
        aCol = random.randrange(nCols)
        if aGrid[aRow][aCol] == EMPTY:
            return aRow, aCol
# Build grid, start it off all empty
grid = []
for r in range(0, NROWS_IN_GRID):
    aRow = []
    for c in range(0, NCOLS_IN_GRID):
        aRow.append(EMPTY)
    grid.append(aRow)
# Add in items randomly
for item in addInToGrid:
    locRow, locCol = findEmptyCell(grid, NROWS_IN_GRID, NCOLS_IN_GRID)
    grid[locRow][locCol] = item
# For testing, print the grid, row by row
for thisRow in grid:
    print(thisRow)
print()
locRow, locCol = findEmptyCell(grid, NROWS_IN_GRID, NCOLS_IN_GRID)
# For testing, print out the starting location so we know where we are in the grid
print('Starting at  row:', locRow, '  col:', locCol)

while True:  # move around the grid
    direction = input('Press L, U, R, or D to move: ')
    # direction = input('Press T, , R, or D to move: ')
    direction = direction.lower()
    print()
    if direction == 'l':
        locCol = locCol - 1
    elif direction == 'u':
        locRow = locRow - 1
    elif direction == 'r':
        locCol = locCol + 1
    elif direction == 'd':
        locRow = locRow + 1
    else:
        print('Oops - staying where we are ... ')
         
    """
        if foundInCell == 'e':
            add_item = input('What would you like to add t, m, s, p')
            if locRow < len(grid):
                if locCol < len(grid[locRow]):
                    grid[locRow][locCol] = add_item    
    """
    foundInCell = grid[locRow][locCol]
    print('Now at row:', locRow, '   col:', locCol, '    cell contains:', foundInCell)
    
    # Add code here to do whatever you want with the contents of the current cell
    #  (e.g., fight, run, pick up, etc.)

In [30]:
people = {
    'Joe': {'Age': 20, 'Location': 'Boston', 'Sports': ['Soccer', 'Baseball', 'Swimming']},
    'Jane': {'Age': 28, 'Location': 'New York', 'Sports': ['Tennis', 'Swimming', 'Running']},
    'Bob': {'Age': 32, 'Location': 'Rhode Island', 'Sports': ['Football']},
    'Mike': {'Age': 29, 'Location': '', 'Sports': ['Soccer', 'Running']},
    'Mike': {'Age': 14, 'Location': '', 'Sports': ['Football', 'Baseball']}  # Only this one is kept
}

In [31]:
for p, v in people.items():
    sports = v.get('Sports')
    print(f'{p} plays {sports}')

Joe plays ['Soccer', 'Baseball', 'Swimming']
Jane plays ['Tennis', 'Swimming', 'Running']
Bob plays ['Football']
Mike plays ['Football', 'Baseball']

In [39]:
people = [
    {'Name': 'Joe', 'Age': 20, 'Location': 'Boston', 'Sports': ['Soccer', 'Baseball', 'Swimming']},
    {'Name': 'Jane', 'Age': 28, 'Location': 'New York', 'Sports': ['Tennis', 'Swimming', 'Running']},
    {'Name': 'Bob', 'Age': 32, 'Location': 'Rhode Island', 'Sports': ['Football']},
    {'Name': 'Mike', 'Age': 29, 'Location': '', 'Sports': ['Soccer', 'Running']},
    {'Name': 'Mike', 'Age': 14, 'Location': '', 'Sports': ['Football', 'Baseball']}    
]

In [42]:
for p in people:
    name = p.get('Name')
    sports = p.get('Sports')
    print(f'{name} plays {sports}')

Joe plays ['Soccer', 'Baseball', 'Swimming']
Jane plays ['Tennis', 'Swimming', 'Running']
Bob plays ['Football']
Mike plays ['Soccer', 'Running']
Mike plays ['Football', 'Baseball']

In [41]:
import pandas as pd
df = pd.DataFrame(people)
df

   Name  Age      Location                        Sports
0   Joe   20        Boston  [Soccer, Baseball, Swimming]
1  Jane   28      New York   [Tennis, Swimming, Running]
2   Bob   32  Rhode Island                    [Football]
3  Mike   29                           [Soccer, Running]
4  Mike   14                        [Football, Baseball]

In [57]:
# Demonstration of repeating blocks in JSON and XML
import json
import xml.etree.ElementTree as etree
# Build a JSON structure as a triple quoted string
myJSON = """
    {
    "bandMembers": [
        {
            "name": "Keith Emerson",
            "age": 32,
            "instrument": "keyboards"
        },
        {
            "name": "Greg Lake",
            "age": 42,
            "instrument": "guitar"
        },
        {
            "name": "Carl Palmer",
            "age": 35,
            "instrument": "drums"
        }
    ]
}"""
bandMembersDict = json.loads(myJSON)
memberList = bandMembersDict['bandMembers']
for member in memberList:
    print(member['name'], member['age'], member['instrument'])


# Build an XML structure as a triple quoted string
myXML = """
<bandMembers>
    <member>
        <name>Keith Emerson</name>
        <age>32</age>
        <instrument>keyboards</instrument>
    </member>
    <member>
        <name>Greg Lake</name>
        <age>42</age>
        <instrument>guitar</instrument>
    </member>
    <member>
        <name>Carl Palmer</name>
        <age>35</age>
        <instrument>drums</instrument>
    </member>
</bandMembers>"""
tree = etree.fromstring(myXML)
bandMembersList = tree.findall('member')
for member in bandMembersList:
    print(member.find('name').text, member.find('age').text, member.find('instrument').text)

Keith Emerson 32 keyboards
Greg Lake 42 guitar
Carl Palmer 35 drums
Keith Emerson 32 keyboards
Greg Lake 42 guitar
Carl Palmer 35 drums

In [58]:
x = {'A': 'test', 'B': 'new'}

In [62]:
json_srt = json.dumps(x)