In [1]:
import pandas as pd
import mysql.connector
connection = mysql.connector.connect(host='mysql', database='ALY2100', user='ALY2100', password='homework')

In [2]:
cursor = connection.cursor(dictionary=True)

In [9]:
cursor.execute(f'drop table {table_name}')

In [10]:
table_name = 'Users'
ddl = f"""
CREATE TABLE {table_name}(
    UserId int NOT NULL AUTO_INCREMENT,
    Username varchar(16) NOT NULL,
    EEEEEmailAddress varchar(128) NOT NULL,
    DateCreated timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
    DateModified timestamp NULL,
PRIMARY KEY CLUSTERED ( UserId ASC ));
"""
table_def = f"SELECT * FROM information_schema.tables WHERE table_name = '{table_name}';"
col_def = f"SELECT * FROM information_schema.columns WHERE table_name = '{table_name}';"

In [11]:
cursor.execute(table_def)
cursor.fetchall()
# If the table doesn't exist execute the Data Definition Language SQL
if cursor.rowcount == 0:
    cursor.execute(ddl)

cursor.execute(col_def)
cols = cursor.fetchall()
print([x.get('COLUMN_NAME') for x in cols])

['UserId', 'Username', 'EEEEEmailAddress', 'DateCreated', 'DateModified']

In [12]:
ddl = f"ALTER TABLE {table_name} CHANGE EEEEEmailAddress EmailAddress varchar(128);"
cursor.execute(ddl)
cursor.execute(col_def)
cols = cursor.fetchall()
print([x.get('COLUMN_NAME') for x in cols])

['UserId', 'Username', 'EmailAddress', 'DateCreated', 'DateModified']

In [13]:
users = [('TheBride', 'Bride26@gmail.com'), ('GogoYubari', 'gogo@yahoo.com'), 
         ('ORenIshii', 'o.ren@outlook.com'), ('Bill', 'Bill@gates.com'), 
         ('HattoriHanzo', 'hh@gmail.com'), ('ElleDriver', 'edriver@yahoo.com')]
dml = "INSERT INTO Users (UserName, EmailAddress) VALUES (%s, %s)"

In [14]:
cursor.executemany(dml, users)
connection.commit()

In [15]:
sql = f"SELECT * FROM {table_name};"
cursor.execute(sql)
pd.DataFrame(cursor.fetchall()).set_index('UserId')

            Username       EmailAddress         DateCreated DateModified
UserId
1           TheBride  Bride26@gmail.com 2021-03-19 16:17:18         None
2         GogoYubari     gogo@yahoo.com 2021-03-19 16:17:18         None
3          ORenIshii  o.ren@outlook.com 2021-03-19 16:17:18         None
4               Bill     Bill@gates.com 2021-03-19 16:17:18         None
5       HattoriHanzo       hh@gmail.com 2021-03-19 16:17:18         None
6         ElleDriver  edriver@yahoo.com 2021-03-19 16:17:18         None