## Recursion

In [1]:
org_chart = {'President': 
             {'CEO': 
              {'Sales Director': 
               {'Northeast Sales Manager': None,
                'Northwest Sales Manager': None,
                'Southeast Sales Manger': None,
                'Southwest Sales Manager': None}},
              'CTO': 
              {'Engineering Director': 
               {'Sofware Engineering Manager': 
                {'Senior Software Engineer III': None, 
                 'Senior Software Engineer II': None,
                 'Senior Software Engineer I': None},
                'Systems Engineering Manager':
                {'Lead Support Engineer': 
                 {'Junior Support Engineer II': None,
                  'Junior Support Engineer': None},
                 'Senior Support Engineer II': None,
                 'Senior Support Engineer': None,
                 'Support Engineer II': None,
                 'Support Engineer I': None}},
               'Data Director': None},
              'CFO':
              {'Finance Director': 
               {'Accountant II': None, 
                'Accountant I': None}}}}

In [2]:
def get_employee_hierarchy(org_tree, output=[], manager=None, level=0):
    for k, v in org_tree.items():
        if v is not None:
            get_employee_hierarchy(org_tree=v, output=output, manager=k, level=level+1)
        output.append([k, manager, level])
    return output

import pandas as pd
pd.DataFrame(get_employee_hierarchy(org_tree=org_chart), 
             columns=['Employee', 'Manager', 'Level']).sort_values('Level').reset_index(drop=True)

                        Employee                      Manager  Level
0                      President                         None      0
1                            CEO                    President      1
2                            CTO                    President      1
3                            CFO                    President      1
4               Finance Director                          CFO      2
5                 Sales Director                          CEO      2
6                  Data Director                          CTO      2
7           Engineering Director                          CTO      2
8                   Accountant I             Finance Director      3
9                  Accountant II             Finance Director      3
10   Systems Engineering Manager         Engineering Director      3
11       Northeast Sales Manager               Sales Director      3
12   Sofware Engineering Manager         Engineering Director      3
13       Southwest Sales Manager               Sales Director      3
14        Southeast Sales Manger               Sales Director      3
15       Northwest Sales Manager               Sales Director      3
16    Senior Support Engineer II  Systems Engineering Manager      4
17       Senior Support Engineer  Systems Engineering Manager      4
18           Support Engineer II  Systems Engineering Manager      4
19            Support Engineer I  Systems Engineering Manager      4
20    Senior Software Engineer I  Sofware Engineering Manager      4
21   Senior Software Engineer II  Sofware Engineering Manager      4
22  Senior Software Engineer III  Sofware Engineering Manager      4
23         Lead Support Engineer  Systems Engineering Manager      4
24    Junior Support Engineer II        Lead Support Engineer      5
25       Junior Support Engineer        Lead Support Engineer      5

In [15]:
def power_of(x, y):
    if y < 0:
        raise ValueError('Negative Number' + str(y))
    elif y == 0:
        print('hittt')
        print(1)
        return 1
    else:
        print('----')
        print(x, y)
        return x * power_of(x, y-1)    
power_of(2,4)

----
2 4
----
2 3
----
2 2
----
2 1
hittt
1

16

In [99]:
def gcd(a, b, g):
    if a == 0 or b == 0:
        return max(a,b)
    elif (a % g == 0 and b % g == 0):
        return g
    else:
        return gcd(a=a, b=b, g=g-1)

In [100]:
gcd(a=12, b=30, g=max(12, 30))

6

In [132]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [174]:
for i in range(20):
    print(fib(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [175]:
import string
def is_palindrome(s):
    def to_chars(s):
        s = s.lower()
        letters = ''
        for c in s:
            if c in string.ascii_lowercase:
                letters = letters + c
        return letters
    
    def is_pal(s):
        if len(s) <= 1:
            print('stop case')
            return True
        else:
            print(f'checking {s[0]} for {s[-1]}')
            return s[0] == s[-1] and is_pal(s[1:-1])
    return is_pal(to_chars(s))

In [176]:
is_palindrome('racecar')

checking r for r
checking a for a
checking c for c
stop case

True

In [177]:
is_palindrome('mind')

checking m for d

False

In [195]:
from datetime import datetime
def travel(tx, ty, x=0, y=0, path=''):
    if x == tx and y == ty:
        print('base case', tx, ty, x, y, path)
        print(path)
    elif x <= tx and y <= ty:
        travel(tx, ty, x, y+1, path+'N ')
        print('After N call ends', tx, ty, x, y, path)
        travel(tx, ty, x+1, y, path+'E ')
        
        print('After E call ends', tx, ty, x, y, path)
        travel(tx, ty, x+1, y+1, path+'NE ')
        print('After NE call ends', tx, ty, x, y, path)
def main():
    tx = int(input('Target x? '))
    ty = int(input('Target y? '))
    travel(tx, ty)
main()

Target x? 1
Target y? 1
After N call ends 1 1 0 1 N
base case 1 1 1 1 N E
N E
After E call ends 1 1 0 1 N
After NE call ends 1 1 0 1 N
After N call ends 1 1 0 0
base case 1 1 1 1 E N
E N
After N call ends 1 1 1 0 E
After E call ends 1 1 1 0 E
After NE call ends 1 1 1 0 E
After E call ends 1 1 0 0
base case 1 1 1 1 NE
NE
After NE call ends 1 1 0 0